<div class="center">
    <br>
    <br>
<a href="/login">Login</a>
<div class="forms">
<h1>{{title}}</h1>
<form method="POST" action="signup" id="signup-form">
    <label for = "username">Username</label> <br>
    <input name = "username" type="text" id="username" placeholder="username" value = "{{username}}" required>
    <br>
    <label for = "password"> Password</label>
    <br>
    <input name = "password" type = "password" id = "password" placeholder="password" value = "{{password}}" required> 
    <br>
    <label for = "email"> Email</label>
    <br>
    <input name = "email" type = "email" id = "email" placeholder="email" value = "{{email}}" required> 
    <p>Are you a parent or child?</p>
    <input name="identity" type="radio" value="Parent">
    <label for="parent">Parent</label>
    <br>
    <input name="identity" type="radio" value="Child">
    <label for="child">Child</label>
    <br>
    <p>If you are parent, input the username of your children here:</p>
    <label for="childName">Child Name</label>
    <br>
    <input name="childName" type="text" class="childName" placeholder="childName" value="{{childName}}">
    <br>
    <div id="namesOfChildren"></div>
    <button class="moreChildren" id="moreChildren" type="button">Add More Children</button>
    <br><br>
    <button class="submit-button" type = "submit"> Submit </button>
</form>
</div>

{{#if err}}
<p class="error"> {{message}}</p>
{{/if}}

</div>