<div class="center">
    <br>
    <br>
    <h1>{{title}}</h1>
<form method="POST" action="signup" id="signup-form">
    <label for = "username">Username</label> <br>
    <input name = "username" type="text" id="username" placeholder="username" value = "{{username}}" required>
    <br>
    <label for = "password"> Password</label>
    <br>
    <input name = "password" type = "password" id = "password" placeholder="password" value = "{{password}}" required> 
    <br>
    <label for = "email"> Email</label>
    <br>
    <input name = "email" type = "email" id = "email" placeholder="email" value = "{{email}}" required> 
    <p>Are you a parent or child?</p>
    <input name="parent" type="radio" id="parent" value="Parent">
    <label for="parent">Parent</label>
    <br>
    <input name="child" type="radio" id="child" value="Child">
    <label for="child">Child</label>
    <br>
    <p>If you are parent, input the username of one of your children here:</p>
    <label for="childName">Child Name</label>
    <br>
    <input name="childName" type="text" id="childName" placeholder="childName" value="{{childName}}">
    <br><br>

     <button class="submit-button" type = "submit"> Submit </button>
</form>

{{#if err}}
<p class="error"> {{message}}</p>
{{/if}}

</div>