

<main>
  <div class="overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="container">
      {{!-- <div class="row">
        <!-- Question and Score will get data from the javascript and change -->
        <div class="col" id="question">Question: 1</div>
        <div class="col" id="score">Score: 0/10</div>
      </div> --}}
      <div class="row">
          <h3>Pick the word that best fits the following definition:</h3>
      </div>
      <h4>{{definition}}</h4>
      <div>
        <p><input type="radio" name="choice">{{choice1}}</input></p>
        <p><input type="radio" name="choice">{{choice2}}</input></p>
        <p><input type="radio" name="choice">{{choice3}}</input></p>
        <p><input type="radio" name="choice">{{choice4}}</input></p>
      </div>
    </div>
  </div>
</main>
