<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Quiz · [Website Name]</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">

    <!-- Iowan Old Style Font -->
    <link href="//db.onlinewebfonts.com/c/ee2d6efb70dae6b477d30df1fd294972?family=Bitstream+Iowan+Old+Style" rel="stylesheet" type="text/css"/>

    <!-- Oleo Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    
<header class="site-header py-2 justify-content-start" style="background-color:white; margin-top:1em;">
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <div class="container">
            <a href="/" class="navbar-brand d-flex w-50 me-auto">[Website Name]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/vocab">Vocab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spelling">Spelling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">Quiz</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    {{#if login}}
                    <li class="nav-item">
                        <a class="nav-link">Profile</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    {{/if}}


                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
  <div class="overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="container">
      {{!-- <div class="row">
        <!-- Question and Score will get data from the javascript and change -->
        <div class="col" id="question">Question: 1</div>
        <div class="col" id="score">Score: 0/10</div>
      </div> --}}
      <div class="row">
          <h3>Pick the word that best fits the following definition:</h3>
      </div>
      <h4>{{definition}}</h4>
      <div>
        <p><input type="radio" name="choice">{{choice1}}</input></p>
        <p><input type="radio" name="choice">{{choice2}}</input></p>
        <p><input type="radio" name="choice">{{choice3}}</input></p>
        <p><input type="radio" name="choice">{{choice4}}</input></p>
      </div>
    </div>
  </div>
</main>
<footer class="container py-5">
  
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>