<div class="container h-100" style="margin-top:3em">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

              <form method="POST" action="signup" id="signup-form" class="mx-1 mx-md-4">

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" name="username" class="form-control" placeholder="Username"
                      value="{{username}}" />
                    <!-- <label class="form-label" for="form3Example1c">Your Name</label> -->
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" />
                    <!-- <label class="form-label" for="form3Example3c">Your Email</label> -->
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <div id="positionEye1">
                      <span id="visibility1"><i class="fas fa-eye fa-lg me-3 fa-fw"></i></span>
                    </div>
                    <input type="password" id="password1" name="password1" class="form-control" placeholder="Password"
                      value="{{password1}}" />
                    <!-- <label class="form-label" for="form3Example4c">Password</label> -->
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <div id="positionEye2">
                      <span id="visibility2"><i class="fas fa-eye fa-lg me-3 fa-fw"></i></span>
                    </div>
                    <input type="password" id="password2" name="password2" class="form-control"
                      placeholder="Re-enter Password" value="{{password2}}">
                    <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->
                  </div>
                </div>


                <p>Are you parent or child?</p>
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="radio" name="identity" value="Parent" />
                    <label>Parent</label>
                    <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="radio" name="identity" value="Child" />
                    <label>Child</label>
                    <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->
                  </div>
                </div>

                <p>If you are parent, input the username of your children here:</p>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" class="form-control" name="childName" placeholder="childName"
                      value="{{childName}}" />
                    <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->
                  </div>
                </div>

                <div id="namesOfChildren"></div>


                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="button" class="btn btn-dark btn-lg" id="moreChildren">Add More Children</button>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-dark btn-lg">Create Account</button>
                </div>

              </form>

              {{#if err}}
              <p class="error"> {{message}}</p>
              {{/if}}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>